<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.dao.VipDAO">

    <select id="findbyVip_id" parameterType="String" resultMap="vipMapper">
        select openid,vip_tel,vip_name,vip_IDcard,hotel_id,vip_money
        from  vip_list
        where vip_id=#{value}
    </select>
    <select id="findbyOpenid" parameterType="int" resultMap="vipMapper">
        select vip_id,vip_tel,vip_name,vip_IDcard,hotel_id,vip_money
        from  vip_list
        where openid=#{value}
    </select>
    <select id="findbyVip_tel" parameterType="String" resultMap="vipMapper">
        select vip_id,openid,vip_name,vip_IDcard,hotel_id,vip_money
        from  vip_list
        where vip_tel=#{value}
    </select>




</mapper>
