<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.dao.VipDAO">

    <select id="findbyVip_name" parameterType="String" resultType="com.pojo.Vip">
         select vip_id,openid,vip_tel,vip_name,vip_IDcard,hotel_id,vip_money
         from  vip_list
         where vip_name=#{vip_name}
     </select>

     <select id="findbyOpenid" parameterType="int" resultType="com.pojo.Vip">
         select vip_id,openid,vip_tel,vip_name,vip_IDcard,hotel_id,vip_money
         from  vip_list
         where openid=#{openid}
     </select>
     <select id="findbyVip_tel" parameterType="String" resultType="com.pojo.Vip">
         select vip_id,openid,vip_tel,vip_name,vip_IDcard,hotel_id,vip_money
         from  vip_list
         where vip_tel=#{vip_tel}
     </select>

     <insert id="addVipBytel" >
         insert into vip_list(vip_id,vip_tel,vip_name,vip_money,hotel_id)
          values(#{vip_id},#{tel},#{tel},0,1001)
     </insert>

    <insert id="addVipByopenid" >
         insert into vip_list(vip_id,openid,vip_name,vip_money,hotel_id)
          values(#{vip_id},#{openid},'尊贵的会员',0,1001)
     </insert>

    <update id="updateVipmsg" >
         update vip_list set vip_name=#{vip_name},vip_tel=#{vip_tel},vip_IDcard=#{vip_IDcard}
          where vip_id=#{vip_id}
     </update>


    <select id="findAll"  resultType="com.pojo.Vip">
        select
        vip_list.vip_id,
        vip_list.openid,
        vip_list.vip_tel,
        vip_list.vip_name,
        vip_list.vip_IDcard,
        vip_list.vip_money,
        vip_list.vip_time,
        hotel.hotel_id,
        hotel.hotel_name
        from vip_list
        inner join hotel
        on vip_list.hotel_id=hotel.hotel_id
    </select>

    <select id="count" parameterType="int" resultType="int">
        SELECT COUNT(*) from vip_list
    </select>

    <delete id="deleteVip" >
        delete from vip_list
        where vip_id = #{vip_id}
    </delete>

</mapper>
